@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&family=Roboto:ital,wght@1,500&display=swap');

footer{
    background: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

